In [123]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

In [133]:
joint_prob = {
    "T-Shirt":[0.1,0.05,0.1],
    "Sweater":[0.05,0.1,0.2],
    "Jacket":[0.1,0.2,0.1]
}

In [134]:
df = pd.DataFrame(joint_prob,index=['Sunny', 'Rainy', 'Cloudy'])
# df.to_csv('joint_prob.csv')
df

        T-Shirt  Sweater  Jacket
Sunny      0.10     0.05     0.1
Rainy      0.05     0.10     0.2
Cloudy     0.10     0.20     0.1

In [135]:
df['F_Y(y)'] = pd.Series(df.sum(axis=1))
df.loc['F_X(x)'] = pd.Series(df.sum(axis=0))

In [136]:
# df.to_csv('marginal_prob.csv')
df

        T-Shirt  Sweater  Jacket  F_Y(y)
Sunny      0.10     0.05     0.1    0.25
Rainy      0.05     0.10     0.2    0.35
Cloudy     0.10     0.20     0.1    0.40
F_X(x)     0.25     0.35     0.4    1.00

In [137]:
clothing_choice = ["T-Shirt", "Sweater", "Jacket"]
weather = ['Sunny', 'Rainy', 'Cloudy']

In [143]:
def choose_with_dependent_bias(item_from_list1):
    probabilities = joint_prob[item_from_list1]
    return random.choices(weather, probabilities, k=1)[0]


lst = []
for i in range(1000000):
    a = np.random.choice(clothing_choice)
    lst.append((a,choose_with_dependent_bias(a)))
    

    
freq = lst.count(('Sweater', 'Cloudy'))/1000000
freq

0.191041

In [145]:

df = df.rename_axis('Row Names', axis='index').rename_axis('Column Names', axis='columns')

Column Names  A  B  C
0             1  4  7
1             2  5  8
2             3  6  9

In [148]:

dict = {
    0:[0.081,0.018,0.001],
    1:[0.513,0.084,0.003],
    2:[0.27075,0.0285,0.00075]
}

df = pd.DataFrame(dict)


df = df.rename_axis('Y', axis='index').rename_axis('X', axis='columns')

print(df)

X      0      1        2
Y
0  0.081  0.513  0.27075
1  0.018  0.084  0.02850
2  0.001  0.003  0.00075